.grabbable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.grabbed {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.map {
    margin: 0 auto;
    width: 95vw;
    height: 85vh;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.land {
    fill: #222;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

.router {
    stroke: #fff;
    stroke-width: 0px;
    stroke-opacity: .5;
}

.link {
    fill: none;
    stroke: #6cc;
    stroke-width: 2px;
}

div.tooltip {
    font-family: monospace;
    position: absolute;
    text-align: center;
    display: block;
    overflow: auto;
    padding: 2px;
    background: white;
    border: 1px solid black;
    pointer-events: none;
}
